@font-face{
    font-family: minnie;
    src: url(../fonts/Minnie.TTF);
}
@font-face{
    font-family: impress;
    src: url(../fonts/Impress.ttf);
}
@font-face{
    font-family: remington;
    src: url(../fonts/vtRemingtonPortable.ttf);
}

h1{
    padding-bottom: 5%;
    font-family: minnie;
    color: white;
    font-size: 72px;
    text-shadow: .35vw .3vw black;
    text-align: center;
}


body{
    background-image: url("../images/backgrounds/bossbotfountain.webp");
    
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.cogbutton{
    padding-top: .2%;
    margin-left: 5%;
    background-color: gray;
    border: 2px solid black;
    position: relative;
    
}

.cogbutton:hover{
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.cogbutton:active{
    background-image: linear-gradient(rgb(0 0 0/70%) 0 0);
}

.cog-container{
    display: inline;
    position: relative;
    text-align: center;
    color: white;
}

.cogimg{
    width: 250px;
    height: 500px;
}



.coginfo{
    display:none;
    color:black;
    font-size: 24px;
    font-family: remington;   
}
.coginfo{
    display:none;
    color:black;
    font-size: 24px;
    font-family: remington;   
}

.levelinput{
    margin-left:100px;
    position: absolute;
}

.single-cog{
    display: inline;
}
